@model SalesSystem.WebApi.Model.ProdutoModel

@{
    ViewData["Title"] = "Atualizar Produto";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="text-center">
                <h1 class="display-4">Editar Produto</h1>
            </div>

            <form class="row g-3" asp-controller="Produto" asp-action="Update" method="Post">
                <input type="hidden" asp-for="Id" />

                <div class="col-12">
                    <label for="text" class="col-form-label">Nome</label>
                    <input type="text" class="form-control" asp-for="Nome" placeholder="Insira um Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Descricao)</label>
                    <input type="text" class="form-control" asp-for="Descricao" placeholder="Insira uma Descrição" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="col-5">
                    <label for="number" class="col-form-label">@Html.DisplayNameFor(m => m.Preco)</label>
                    <input type="text" inputmode="numeric" class="form-control" asp-for="Preco" placeholder="Insira Preço" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.UnidadeMedida)</label>
                    <select class="form-control" asp-for="UnidadeMedida" asp-items="@Html.GetEnumSelectList(typeof(SalesSystem.Mvc.Enums.Enumeradores.UnidadeMedida))">
                        <option value="@ViewBag.UnidadeMedida" selected>@ViewBag.UnidadeMedida</option>
                    </select>
                    <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label for="text" class="col-form-label">Quantidade</label>
                    <input type="text" inputmode="numeric" class="form-control" asp-for="Quantidade" placeholder="Insira Quantidade" />
                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">Peso</label>
                    <input type="text" inputmode="numeric" class="form-control" asp-for="Peso" placeholder="Insira Peso" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.DataValidade)</label>
                    <input type="date" class="form-control" asp-for="DataValidade" />
                    <span asp-validation-for="DataValidade" class="text-danger"></span>
                </div>
                <br />
                <br />
                <br />
                <br />

                <div class="col-12">
                    <button type="submit" class="btn btn-primary" value="Update">Editar</button>
                    <a class="btn btn-secondary" role="button" asp-controller="Produto" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>